<ion-view view-title="Collections">
     <ion-content>

          <ion-list>
               <ion-item ng-repeat="cover in collections.covers" ng-click="clicked(cover.name)" ui.sref="app.viewable-group({viewgroup:cover.id})">
                    <div class="row list">
                         <div class="col-33">
                              <img class="view-group-image" ng-src="{{cover.location}}">
                         </div>
                         <div class="col-66">
                              {{cover.name}}
                              {{cover.id}}
                         </div>
                    </div>
               </ion-item>
          </ion-list>


     </ion-content>
</ion-view>
